
# Ignore OS artifacts
.DS_Store

# Ignore editor artifacts
*.swp
~*

# Ignore Python artifacts
venv
__pycache__
.mypy_cache

# Ignore Jupyter artifacts
.ipynb_checkpoints

# Ingore the commit message file
msg
